In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url, index_col = 'user_id', sep = '|')
df.head()

In [2]:
# See the first 10 and last 10 entries
print('------------first 10 entries------------\n',df.head(10),'\n------------last 10 entries------------\n',df.tail(10))

------------first 10 entries------------
          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
------------last 10 entries------------
          age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [ ]:
# What is the number of observations in the dataset?
obs = df.shape[0]
print('Number of Observations :', obs)

In [4]:
# What is the number of columns in the dataset?
ncol = df.shape[1]
print('Number of columns :', ncol)

Number of columns : 4

In [5]:
# Print the name of all the columns.
print(df.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [6]:
# How is the dataset indexed?
indexed = df.index
print(indexed)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [7]:
# What is the data type of each column?
print(df.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [8]:
# Print only the occupation column
print(df['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [9]:
# How many different occupations are in this dataset?
print(df['occupation'].nunique())

21

In [10]:
# How many different occupations are in this dataset?
print(df['occupation'].value_counts().count())

21

In [11]:
# What is the most frequent occupation?
print(df['occupation'].mode())

0    student
Name: occupation, dtype: object

In [12]:
# What is the most frequent occupation?
print(df['occupation'].value_counts().sort_values(ascending=False).head())

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

In [13]:
# DataFrame Info.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

In [14]:
# Describe all the columns
print(df.describe(include='all'))

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [15]:
# Summarize only the occupation column
print(df['occupation'].describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [16]:
# What is the mean age of users?
print(df['age'].mean())

34.05196182396607

In [18]:
# What is the age with least occurrence?
print(df['age'].min())